@import url("../css/fontello.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: "Bebas Neue Regular", sans-serif; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.hidden {
  display: none; }

.index-page {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.png"); }

.index-header {
  width: 100%;
  min-height: 250px;
  padding-top: 170px;
  text-align: center; }

.index-header__title {
  font-size: 48px;
  color: #ffffff; }

.index-main {
  width: 100%;
  padding-top: 50px; }

.index-main__products {
  margin: 0px auto; }

.products {
  width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product__head {
  margin-bottom: 25px; }

.product__title {
  font-size: 36px; }

.product {
  width: 25%;
  text-align: center;
  color: #ffffff;
  position: relative; }

.product_images {
  position: relative;
  z-index: 2; }

.product__bottom-line-img {
  overflow: hidden;
  margin-top: -15px; }

.product__info {
  width: 100%;
  padding: 160px 20px 20px 20px;
  top: 250px;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.1)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  position: absolute;
  z-index: 0; }

.select {
  position: relative;
  width: 65px;
  color: #ffffff; }

.select.is-active .select__body {
  opacity: 1; }

.select__header {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid #ffffff; }

.select__current {
  font-size: 24px;
  margin-right: 2px; }

.select__icon {
  margin-left: 2px;
  font-size: 18px; }

.select__body {
  width: 122px;
  height: 187px;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
  top: 33px; }

.select__body::-webkit-scrollbar {
  display: none; }

.select__item {
  width: 38px;
  height: 34px;
  text-align: center;
  padding: 2px 0px;
  margin: 11px 0px 11px 14px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 24px; }
  .select__item:hover {
    background: rgba(0, 0, 0, 0.2); }
